// Body
$body-bg: #f8fafc;


$primary: #E2A86A;
$secondary: #4E351C;
$success: #9CD398;
$danger: #B15954;
  

// Typography
$font-family-sans-serif: 'Alata', sans-serif;
$headings-font-family: 'DM Serif Display', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
