// Fonts
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=DM+Serif+Display&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons";
@import '~datatables.net-bs5/css/dataTables.bootstrap5.min';

@each $color, $value in $theme-colors {
    .swatch-#{$color} {
      color: color-contrast($value);
    }
  }

.btn-primary {
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
}
