#cart-dropdown-menu {
    width: 30vw;
    min-width: 200px;
    overflow-x: hidden;
}

#header-icons > div{
    margin-right: 1em;
}

/* #cart-dropdown::after {
    display: none;
} */

#cart-dropdown-menu-content {
    max-height: 20vh;
    overflow-y: auto;
}

#cart-dropdown-menu-content img {
    cursor: pointer;
}

#cart-dropdown-menu div.dropdown-cart-name {
    font-size: 1em;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 0;
}

#cart-dropdown-menu i.cart-remove {
    padding-left: 0;
    cursor: pointer;
    font-size: 1.2em;
    width: 1.2em;
    margin-right: 0.2em;
    transition: color 0.5s;
}

#cart-dropdown-menu i.cart-remove:hover {
    color: rgb(150, 150, 150);
}

#cart-dropdown-menu div.dropdown-cart-amount {
    font-size: 0.8em;
    margin-top: 0.3em;
}

#cart-dropdown-menu div.item-subtotal {
    color: red;
    text-align: right;
}

#cart-dropdown-menu .loader {
    margin: 0 auto;
}

#cart-dropdown-menu div#price-total {
    color: red;
    text-align: right;
}

.cart-product-container {
    height: auto;
    overflow: hidden;
}
@media only screen and (min-width: 768px) {
    .cart-product-image {
        max-height: 8em;
    }
}
