    .fullScreenPhoto2{
        width: 100%;
        height:300px;
        margin:0;
        background-color: #F8E8D8;
    }

    .video-container {
        height: 150vh;
    }

    .video-mobile {
        opacity: 0;
    }

    .video-parallax {
        -webkit-transition-position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: 50vh;
        height: auto;
        z-index: -100;
        transition: 1s opacity;
        object-fit: cover;
    }

    .logo-container {
        position: fixed;
        top: 30%;
        left: 68%;
        transition: 0.1s opacity;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .link-to-join {
        display: inline-block;
        font-size: 3em;
        color: #F8E8D8;
        transition: 1s color;
    }  
    
    .link-to-join:hover {
        color: #ddd2c6;
    }

    .logo {
        margin-bottom: 2vh;
    }

    .title {
        font-family: 'Alata', sans-serif;
        font-size: 2em;
        text-align: center;
        color: #4E351C;
    }

    .keyword {
        color: #A96100;
    }

    #keyword {
        font-family: 'Alata', sans-serif;
        display: inline-block;
        color: A96100;
    }

    #cursor {
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 35px;
        background-color: #A96100;
        animation: blink .75s step-end infinite;
    }

    @keyframes blink {
        from, to { 
            background-color: transparent 
        }
        50% { 
            background-color: #A96100; 
        }
    }

    .remove {
        opacity: 0;
    }

    @media (max-width: 1000px) {
        .video-mobile {
            opacity: 1;
        }

        .image-desktop {
            opacity: 0;
        }

        .logo-container {
            background-color: rgba(255, 255, 255, 0.788);
            width: 100%;
            height: 40%;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0%);
        }


        .link-to-join {
            display: inline-block;
            font-size: 3em;
            color: #4E351C;
            transition: 1s color;
        }  
        
        .link-to-join:hover {
            color: #6e5742;
        }
    }