
    .video-container {
        height: 150vh;
    }

    .video-mobile {
        opacity: 0;
    }

    .video-parallax {
        -webkit-transition-position: fixed;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        width: 100vw;
        height: 100vh;
        z-index: -100;
        transition: 1s opacity;
        object-fit: cover;
    }

    .logo-container {
        position: fixed;
        top: 30%;
        left: 69%;
        transition: 0.1s opacity;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .link-to-join {
        display: inline-block;
        font-size: 3em;
        color: #4E351C;
        transition: 1s color;
    }  


    .link-to-join:hover{
        color: #5f4934;
    }

    .logo {
        margin-bottom: 2vh;
    }

    .title {
        font-family: 'Alata', sans-serif;
        font-size: 2em;
        text-align: center;
        color: #4E351C;
    }

    .keyword {
        color: #A96100;
    }

    #keyword {
        font-family: 'Alata', sans-serif;
        display: inline-block;
        color: A96100;
    }

    #cursor {
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 35px;
        background-color: #A96100;
        animation: blink .75s step-end infinite;
    }

    @keyframes blink {
        from, to { 
            background-color: transparent 
        }
        50% { 
            background-color: #A96100; 
        }
    }

    .remove {
        opacity: 0;
    }

    .holder {
        height: 30vh;
    }

    .content-container {
        -webkit-clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0% 100%);
        clip-path: polygon(0 15%, 100% 0%, 100% 101%, 0% 101%);
        margin:0;
        background-color: #f8fafc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 120vh;
    }

    .main-content {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:stretch;
    }

    .content-title {
        text-align: center;
        font-family: 'DM Serif Display', serif;
        color: #4E351C;
        font-size: 4em;
    }

    .info {
        display: flex;
        font-family: 'Alata', sans-serif;
        width: 100%;
        justify-content: center;
    }

    .info div {
        padding-left: 10%;
    }

    .navigation,
    .contacts {
        text-align: center;
        color: #4E351C;
    }

    .navigation a,
    .contacts a{
        text-decoration: none;
        color: #4E351C;
    }

    .socials {
        display: flex;
        font-size: 3em;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .socials a {
        padding: 2%;
        color: #4E351C;
    }

    .socials a:hover{
        color: #5c4a38;
    }

    .footer-container {
        background-color: #f8fafc;
        height: 10vh;
    }

    .footer-text {
        text-align: center;
        color: #4E351C;
        margin: 0;
        padding: 1vh 0vh;
    }

    @media screen and (max-width: 1000px) {
        .video-mobile {
            opacity: 1;
        }

        .image-desktop {
            opacity: 0;
        }

        .logo-container {
            background-color: rgba(255, 255, 255, 0.788);
            width: 100%;
            height: 40%;
            top: 10%;
            left: 50%;
            transform: translate(-50%, 0%);
        }


        .link-to-join {
            display: inline-block;
            font-size: 3em;
            color: #4E351C;
            transition: 1s color;
        }  
        
        .link-to-join:hover {
            color: #6e5742;
        }

        .info {
            flex-direction: column;
        }

        .info div {
            padding-bottom: 10%;
            padding-left: 0%;
        }
    }

    @media (max-height: 640px) {
        .logo-container {
            height: 75%;
        }

        .content-container,
        .footer-container{
            display: none;
        }

        .home {
            overflow-y: hidden;
        }

    }