html, body {
    min-height: 100vh;
    height: 100vh;
}


main {
    min-height: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#auth {
    font-family: serif;
    color: #4C4242;
}

#auth .btn-primary {
    background-color: #4C4242;
    border: none;
    color: white;
}

#auth .error {
    color: #4E351C;
    font-size: 1em;
}

#auth header {
    font-family: 'DM Serif Display', serif;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}

#auth label {
    color: #4C4242
}

#auth .separator {
    border-bottom: 1px solid #4C4242;
    width: 35%;
}

#auth .form-group {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#auth .input-group {
    margin-bottom: 0.5em;
}

@media (min-width: 768px) {
    #auth header {
        height: 8em;
    }

    #auth .vertical-separator {
        border-right: 1px solid #4C4242;
        width: 2px;
    }
}

@media (max-width: 768px) {
    #auth #login {
        margin-top: 4em;
    }

    #auth #login, #auth #register {
        margin-bottom: 4em;
    }
}
