.notification-number {
    visibility: hidden;
    background-color: #4e351c;
    border-radius: 50%;
    position: relative;
    top: -1em;
    right: 1.5em;
    width: 1.2em;
    height: 1.2em;
    padding-bottom: 1em;
}

.notification-number div {
    position: relative;
    top: -0.2em;
    width: 1.2em;
    height: 1.2em;
}

#notification-content {
    max-height: 20vh;
    overflow-y: auto;
}
