.search-products-item {
    transition: top 1s ease 0s, opacity 1s;
    top: 0;
}

.search-products-item img {
    cursor: pointer;
    object-fit: cover;
}

.search-card-top {
    height: 15em;
}

.next-page-search {
    font-size: 3em;
    transition: top 1s ease 0s, opacity 1s, color 0.3s;
    position: relative;
    top: 0;
}

.next-page-search:hover {
    color: #444444;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--color);
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    border: 3px solid #bada55;
}

.product-slide {
    width: 60%;
}


.product-carousel {
    width: 45vw;
    height: 30vw;
}

.carousel-item img {
    object-fit: cover;
}

.description-box-teaser {
    display: block;
}

.description-box-teaser p{
    height: 7.5vh;
    overflow: hidden;
}

.description-box-full {
    display:none;
}

.show-more,
.show-less{
    display: flex;
    justify-content: center;
    font-size: larger;
}

.show-more i:hover,
.show-less i:hover{
    cursor: pointer;
    color: rgb(150, 116, 73);
}

.cont-icon {
    background-color: blue;
}

.variant-color {
    border-radius: 100%;
    padding: 0.1em;
    border: 0.2em solid rgb(255, 255, 255);
}

.variant-color:hover {
    border: 0.2em solid rgb(150, 116, 73);
}

.add-wishlist,
.remove-wishlist {
    padding-top: 0.1em;
}

.remove-wishlist{
    color: rgb(201, 69, 69);
}

.remove-wishlist:hover{
    color: rgb(194, 92, 92);
}