.search-products-item {
    transition: top 1s ease 0s, opacity 1s;
    top: 0;
}

.search-products-item img {
    cursor: pointer;
    object-fit: cover;
}

.search-products-item .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.search-card-top {
    height: 15em;
}

.next-page-search {
    font-size: 3em;
    transition: top 1s ease 0s, opacity 1s, color 0.3s;
    position: relative;
    top: 0;
}

.next-page-search:hover {
    color: #444444;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--color);
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
}

.dot:hover {
    border: 3px solid #bada55;
}

.product-slide {
    width: 60%;
}
