.badge-decoration-none {
    text-decoration: none;
}

.badge-clickable {
    cursor: pointer;
    background-color: black;
    color: white;
}

.badge-clickable:hover {
    color: white;
    background-color: rgb(80, 79, 79);
}

.badge-created {
    background-color: rgb(25, 140, 218);
    color: rgb(5, 68, 110);
}


.badge-created:hover {
    color: rgb(5, 68, 110);
}

.badge-paid {
    background-color: rgb(149, 45, 209);
    color: rgb(196, 144, 224);
}

.badge-paid:hover {
    color: rgb(196, 144, 224);
}

.badge-processing {
    background-color: yellow;
    color: rgb(53, 53, 5);
}

.badge-processing:hover {
    color: rgb(53, 53, 5);
}

.badge-shipped {
    background-color: rgb(55, 155, 80);
    color: rgb(2, 31, 9);
}

.badge-shipped:hover {
    color: rgb(2, 31, 9);
}

.icon-click {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.icon-click:hover{
    color: rgb(63, 63, 63);
}

