.badge-decoration-none {
    text-decoration: none;
}

.badge-clickable {
    cursor: pointer;
    background-color: black;
    color: white;
}

#order-dashboard-table .dropdown-menu {
    width: 15rem;
}


#order-dashboard-table .dropstart .dropdown-toggle::before {
    vertical-align: 0.15em;
}


.badge-clickable:hover {
    color: white;
    background-color: rgb(80, 79, 79);
}

.badge-created {
    background-color: rgb(25, 140, 218);
    color: rgb(5, 68, 110);
}


.badge-created:hover {
    color: rgb(5, 68, 110);
}

.badge-paid {
    background-color: rgb(149, 45, 209);
    color: rgb(196, 144, 224);
}

.badge-paid:hover {
    color: rgb(196, 144, 224);
}

.badge-processing {
    background-color: yellow;
    color: rgb(53, 53, 5);
}

.badge-processing:hover {
    color: rgb(53, 53, 5);
}

.badge-shipped {
    background-color: rgb(55, 155, 80);
    color: rgb(2, 31, 9);
}

.badge-shipped:hover {
    color: rgb(2, 31, 9);
}

.icon-click {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.icon-click:hover{
    color: rgb(63, 63, 63);
}

.cat-item:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
      display: block;
      height: auto !important;
      visibility: visible;
    }

    .menu-collapse-btn {
        display: none;
    }
  }

  
  .card-img-top {
      height: 40vh;
      object-fit: cover;
  }

  .icon-link {
    font-size: 2em;
  }

  .card-nunoc {
      background-image: url('/img/empreendedor.png');
      background-size: cover;
      transition: 2s;
  }

  .card-nunoc:hover {
    background-image: url('/img/pendurado.jpeg');
}

  .card-nunoa {
    background-image: url('/img/nunoa.png');
    background-size: cover;
    transition: 2s;

}

.card-nunoa:hover {
    background-image: url('/img/halloweennuno.jpg');
}

.card-joao {
    background-image: url('/img/baltaeyes.jpg');
    background-size: cover;
    transition: 2s;

}

.card-joao:hover {
    background-image: url('/img/balta.jpg');

}

.card-andre {
    background-image: url('/img/andre.png');
    background-size: cover;
    -webkit-transition: background-image 2s ease-in-out;
    transition: background-image 2s ease-in-out;
}

.card-andre:hover {
    background-image: url('/img/dusto.jpeg');

}