openapi: 3.0.0

info:
  title: 'reFurniture Web API'
  version: '1.0'
  description: 'Web Resources Specification (A7) for reFurniture'

servers:
- url: http://lbaw.fe.up.pt/
  description: Production server

externalDocs:
  description: Find more info here.
  url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2116/-/wikis/eap

tags:
  - name: 'M01: Authentication'
  - name: 'M02: User Profiles'
  - name: 'M03: Products'
  - name: 'M04: Orders and Shopping Cart'
  - name: 'M05: Reviews'
  - name: 'M06: Wishlist'
  - name: 'M07: Static Pages'
  - name: 'M08: Notifications'
  - name: 'M09: Coupons'
  - name: 'M10: Newsletter'


paths:

  # M01

  /join:
    get:
      operationId: R101
      summary: 'R101: Login and Register Form'
      description: 'Provide login and register form. Access: PUB'
      tags:
        - 'M01: Authentication'
      parameters:
        - in: query
          name: redirect-uri
          schema:
            type: string
          description: 'URI to return when login is successful.'
      responses:
        '200':
          description: 'Ok. Show log-in and register form [UI05](https://git.fe.up.pt/lbaw/lbaw2122/lbaw2116/-/wikis/er#ui05-sign-in-sign-up)'
        '302':
          description: 'Redirect to Home Page (UI 01) if user already logged in'
          headers:
            Location:
              schema:
                type: string
                example: '/'
              examples:
                302Success:
                  description: 'User already authenticated. Redirect to Home Page (UI 01) or to Redirect-URI query parameter'
                  value: '/'
  /login:
    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                redirect-uri:
                  type: string
                  description: 'URI to return when login is successful.'
              required:
                - email
                - password
 
      responses:
        '302':
          description: 'Redirect after processing correct login credentials.'
          headers:
            Location:
              schema:
                type: string
                example: '/'
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to Home Page or to Redirect-URI'
                  value: '/'
                302Error:
                  description: 'Failed authentication. Redirect to Login and Register Page'
                  value: '/join?redirect-uri=$redirect-uri'
        # '401':
        #   description: 'Wrong email or password, authentication incomplete.'
  /register:
    post:
      operationId: R103
      summary: 'R103: Register Action'
      description: 'Processes the new user registration form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                surname:
                  type: string
                email:
                  type: string
                password:
                  type: string
                redirect-uri:
                  type: string
                  description: 'URI to return when login is successful.'
              required:
                - email
                - name
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
                example: '/users/private/{id}'
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user personal data or to Redirect-URI'
                  value: '/users/private/{id}'
                302Error:
                  description: 'Email invalid or already exists. Redirect to login and register form.'
                  value: '/join?redirect-uri=$redirect-uri'
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
             
        # '422':
        #   description: 'Email invalid or already exists.'
        #   content:
        #     application/json:
        #       schema:
        #         type: object
        #         properties:
        #           email:
        #             type: string
        #         example:
        #             email: "nunodev@refurniture.pt"



  #M02

  /users/{id}:
    get:  
      operationId: R201
      summary: 'R201: View user  profile'
      description: 'Show user profile. Access: USR'
      tags:
        - 'M02: User Profiles'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show Public Profile Page [UI15](https://git.fe.up.pt/lbaw/lbaw2122/lbaw2116/-/wikis/er#ui15-profile-public-profile)'
        '302':
          description: 'User is owner, redirect to private page'
          headers:
            Location:
              schema:
                type: string
                example: '/users/private/{id}'
        '401':
          description: "Can't show resource because the requester isn't a user."
        '404':
          description: 'Not Found. Show Not Found Page'

  /users/private/{id}:
    get:  
      operationId: R202
      summary: 'R202: View profile private data'
      description: 'Show the individual user private data. Access: OWN, ADM'
      tags:
        - 'M02: User Profiles'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show Personal Data Page [UI12](https://git.fe.up.pt/lbaw/lbaw2122/lbaw2116/-/wikis/er#ui12-profile-personal-data)'
        '302':
          description: 'User is not the owner of the page. Redirect to public profile'
          headers:
            Location:
              schema:
                type: string
                example: '/users/{id}'
        '404':
          description: 'Not Found. Show Not Found Page'

  /api/users/private/{id}/edit:
    post:  
      operationId: R203
      summary: 'R203: Edit profile private data API'
      description: 'Processes the edited fields submitted. Access: OWN, ADM'
      tags:
        - 'M02: User Profiles'
      requestBody:
        required: true
        content:
          multipart/form-data: # Support files
          # application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                name:
                  type: string
                surname:
                  type: string
                phone:
                  type: string
                birth:
                  type: string
                nif:
                  type: number
                address:
                  type: string
                postal-code:
                  type: string
                county:
                  type: string
                district:
                  type: string
                profile-picture:
                  type: string ## TODO HOW TO DO THIS
              required:
                - email
                - password
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok.'
        '403':
          description: 'Forbidden. Not the owner of this account.'

  
  #M03

  /products/{id}:
    get:  
      operationId: R301
      summary: 'R301: View product'
      description: 'Show product page. Access: PUB'
      tags:
        - 'M03: Products'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show Product Info Page [UI08](https://git.fe.up.pt/lbaw/lbaw2122/lbaw2116/-/wikis/er#ui08-product-info)'
        '404':
          description: 'Not Found. Show Not Found Page'

  /api/products/:
    get:
      operationId: R302
      summary: 'R302: Search Products'
      description: 'Return products information as JSON. Access: PUB'
      tags:
        - 'M03: Products'

      parameters:
        - in: query
          name: query
          description: String to use for full-text search
          schema:
            type: string
          required: false
        - in: query
          name: price-min
          description: Minimum price of products
          schema:
            type: number
          required: false
        - in: query
          name: price-max
          description: Maxmimum price of products
          schema:
            type: number
          required: false
        - in: query
          name: stars-min
          description: Minimum stars value
          schema:
            type: number
          required: false
        - in: query
          name: stars-max
          description: Maximum stars value
          schema:
            type: number
          required: false
        - in: query
          name: colors
          description: Colors of the product
          schema:
            type: string
          required: false
        - in: query
          name: materials
          description: Materials of the product
          schema:
            type: string
          required: false


      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    attributes:
                      type: object
                      properties:
                        colors:
                          type: array
                          items: 
                            type: string
                        materials:
                          type: array
                          items:
                            type: string
                    stock:
                      type: integer
                    description:
                      type: string
                    photos:
                      type: array
                      items:
                        type: string
                    price:
                      type: number
                    avg_stars:
                      type: number
                  example:
                    - id: 1
                      name: 'Funny Bed'
                      attributes:
                        colors:
                          - 'blue'
                          - 'yellow'
                        materials:
                          - 'wood'
                      stock: 5
                      description: 'A very beautiful piece of furniture'
                      price:
                        type: 325.99
                      avg_stars: 2.5

                    - id: 1
                      name: 'Not a very good bed'
                      attributes:
                        colors:
                          - 'yellow'
                        materials:
                          - 'wood'
                          - 'wool'
                      stock: 5
                      description: 'A very cheap piece of furniture'
                      price:
                        type: 25.99
                      avg_stars: 0.2

  # /api/products/{id}/edit:
  #   post:
  #     operationId: R201
  #     summary: 'R201: View product'
  #     description: 'Show product page. Access: USR'
  #     tags:
  #       - 'M03: Products'

  #     parameters:
  #       - in: path
  #         name: id
  #         schema:
  #           type: integer
  #         required: true
  #     responses:
        

      
                  

  /products/create:
    get:
      operationId: R303
      summary: 'R303: View product creation page'
      description: 'Show product creation page. Access: ADM'
      tags:
        - 'M03: Products'

      responses:
        '200':
          description: 'Ok. Show New Product Page UI16'
        '403':
          description: 'Forbidden. Not an admin.'

    post:
      operationId: R304
      summary: 'R304: Create product Action'
      description: 'Processes the creation product form. Access: ADM'
      tags:
        - 'M03: Products'
      requestBody:
        required: true
        content:
          
          multipart/form-data: # Support files
          # application/x-www-form-urlencoded:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    attributes:
                      type: object
                      properties:
                        colors:
                          type: array
                          items: 
                            type: string
                        materials:
                          type: array
                          items:
                            type: string
                    stock:
                      type: integer
                    description:
                      type: string
                    photos:
                      type: array
                      items:
                        type: string ## FILE TYPE
                    price:
                      type: number
                  required:
                    - name
                    - attributes
                    - stock
                    - description
                    - photos
                    - price
                    
                  example:
                    name: 'Funny Bed'
                    attributes:
                      colors:
                        - 'blue'
                        - 'yellow'
                      materials:
                        - 'wood'
                    stock: 5
                    description: 'A very beautiful piece of furniture'
                    price:
                      type: 325.99

      responses:
        '201':
          description: 'Product was created succesfully'
          content:
            application/json:
              schema:
                type: object
                properties:
                  product-url:
                    type: string
                    example: '/products/{id}'
                  product-name:
                    type: string
                    example: 'IKEA Chair'
        '403':
          description: "User doesn't have privileges"
          
 #M04

  /cart:
    get:
      operationId: R401
      summary: 'R401: View Shopping Cart'
      description: 'Show Shopping Cart. Access: PUB'
      tags:
        - 'M04: Orders and Shopping Cart'

      responses:
        '200':
          description: "Ok. Show Shopping Cart [UI09](https://git.fe.up.pt/lbaw/lbaw2122/lbaw2116/-/wikis/er#ui09-shopping-cart)"
        
  /api/cart/add/:
    post:
      operationId: R402
      summary: 'R402: Add product to shopping cart API'
      description: 'Add product to Shopping Cart. Access: PUB'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                product-id:
                  type: integer
                amount:
                  type: integer
              required:
                - email
                - password
      responses:
        '200': 
          description: "Ok. Product was added to cart"
        '406':
          description: "Product does not exist."

 #M07

  /about:
    get:
      operationId: R701
      summary: 'R701: View About Page'
      description: 'Show About Page. Access: PUB'
      tags:
        - 'M07: Static Pages'

      responses:
        '200':
          description: 'Ok. Show About Page.'

  /contacts:
    get:
      operationId: R702
      summary: 'R702: View Contacts Page'
      description: 'Show Contacts Page. Access: PUB'
      tags:
        - 'M07: Static Pages'

      responses:
        '200':
          description: 'Ok. Show Contacts Page.'

  /main-features:
    get:
      operationId: R703
      summary: 'R703: View Main Features Page'
      description: 'Show Main Features Page. Access: PUB'
      tags:
        - 'M07: Static Pages'

      responses:
        '200':
          description: 'Ok. Show Main Features Page.'